blinker==1.9.0
click==8.3.0
Flask==3.1.2
flask-cors==5.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
numpy==2.3.3
pandas==2.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
requests==2.32.3
pyshark==0.6
scapy==2.5.0
threadpoolctl==3.6.0
tzdata==2025.2
Werkzeug==3.1.3
